
.content {
    width: 100%;
    display: none;
    background-color: cornsilk;
}

.container {
    padding: 2dvh 30dvh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .content {
        display: none;
        /* left: dvh; */
    }

    .content.active {
        display: flex;
        justify-content: center;
        align-items: center;
        /* height: 10em; */
    }

    .container {
        flex-direction: column;
        padding: 0;
    }

    .container.active{
        display:none
    }
}