/* default style*/

ul {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #120f0b;
}

/* a:hover {
    text-decoration: underline;
} */

.navMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.navbar {
    margin: 20px 40px;
}

.heading {
    font-size: 32px;
    width: 200px;
}

.socialMediaHandle {
    width: auto;
}

.navMenuWrapper {
    width: auto;
}
.hamburger {
    display: none;
}
@media screen and (max-width: 768px) {
    a {
        font-size: 32px;
        color: #120f0b;
        cursor: pointer;
    }
    a:hover{
        text-decoration: underline;
    }
    .heading {
        font-size: 32px;
    }
    .navbar {
        margin: 10px 20px
    }

    .navMenu {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 26dvw 14vw;
        padding: 0px;
    }
    .socialMediaHandle {
        display: none;
    }

    .navMenuWrapper {
        display: none;
    }

    .hamburger{
        display: block;
        cursor: pointer;
    }

    .bar {
        background-color: #120f0b;
        width: 44px;
        height: 3px;
        display: block;
        margin: 5px;
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(4px) translateX(1px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(2) {
        transform: translateY(-4px) rotate(-45deg);
    }
}
/* @media screen and (max-width: 780px) {

    .hamburger {
        display: block;
        cursor: pointer;
    }

    

    

    .navMenu {
        position: absolute;
        flex-direction: column;
        gap: 0;
        top: 70px;
        text-align: start;
        width: 100%;
        transition: 0.7s ease-in-out;
        background-color: aliceblue;
        padding: 10px;
    }
} */
