.image {
    height: 100%;
    padding: 10px 12px;
    width: 50%;
    flex:1;
}

@media screen and (max-width: 768px) {
    .image {
        width: 90vw;
        padding: 10px 12px;
        height: 100vw;
    }
}